@import-normalize;

html {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  display: block;
  border: none;
  outline: none;
}
